<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div th:fragment="results">
    <div th:if="${size}">
        <h3 th:text="${size} + ' Result(s)'">Number of Results </h3>
    </div>
    <div th:unless="${size}">
        <h3 th:text="0 + ' Result(s)'">Number of Results </h3>
    </div>

    <table class="job-listing" th:each="result: ${results}">
        <tr th:each="entry: ${result}">
            <td th:text="${#strings.capitalizeWords(entry.key)}">key</td>
            <td th:text="${#strings.capitalizeWords(entry.value)}">value</td>
        </tr>
    </table>
    </div>

</body>
</html>